# Ignore secrets and env
.streamlit/secrets.toml
.env
.env.*
service_account.json

# Ignore virtual environments
venv/
.venv/
env/

# Node & Build artifacts
node_modules/
dist/
.vercel/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
